<%= form_with(model: @subject) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :category %>
    <%= select_tag :category, options_from_collection_for_select(@categories, :id, :name) %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.label :cover %>
    <div id='img-preview'></div>
    <%= form.file_field :cover, accept: 'image/*', id: 'cover' %>
    <%= form.hidden_field :cropped_cover, id: 'cropped_cover' %>
  </p>
  <p>
    <img id='cropper-area' src='#'>
  </p>
  <%= form.submit %>
<% end %>
