<%= form_with(model: @subject, class: 'ui form') do |form| %>
  <div class='fields'>
    <div class='ten wide field'>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class='six wide field'>
      <%= form.label :category %>
      <%= select_tag :category, options_from_collection_for_select(@categories, :id, :name), class: 'ui search dropdown' %>
    </div>
  </div>
  <div class='field'>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class='field'>
    <%= form.label :cover %>
    <div id='img-preview'></div>
    <label for="cover" class="ui icon button"><i class="file icon"></i>Open File</label>
    <%= form.file_field :cover, accept: 'image/*', id: 'cover' %>
    <%= form.hidden_field :cropped_cover, id: 'cropped_cover' %>
    <img id='cropper-area' src='#'>
  </div>
  <div class='field'>
    <%= form.submit nil, class: 'ui button' %>
  </div>
<% end %>
