<img id='cover' src='<%= @subject.cover %>' >

<h1><%= @subject.name %></h1>

<p>分类：<%= link_to @subject.category.name, category_path(@subject.category) %></p>

<p><%= @subject.description %></p>

<p>
  <%= link_to "Posts (#{@subject.posts.count})", subject_posts_path(@subject) %>
  <%= link_to 'add', new_subject_post_path(@subject) %>
</p>

<p>
  <%= link_to "Tasks (#{@subject.tasks.count})", subject_tasks_path(@subject) %>
  <%= link_to 'add', new_subject_task_path(@subject) %>
</p>

<p>
  <%= link_to "Journals (#{@subject.journals.count})", subject_journals_path(@subject) %>
  <%= link_to 'add', new_subject_journal_path(@subject) %>
</p>

<p><%= link_to 'back', subjects_path %></p>
