<img id='cover' src='<%= @subject.cover %>' >

<h1><%= @subject.name %></h1>

<p>Category: <%= link_to @subject.category.name, category_path(@subject.category) %></p>

<p><%= @subject.description %></p>

<div id='action'>
  <%= link_to 'Edit', edit_subject_path(@subject) %>
  |
  <%= link_to 'Delete', subject_path(@subject), method: :delete, confirm: 'Are you sure?' %>
</div>

<p>
  <%= link_to "Posts (#{@subject.posts.count})", subject_posts_path(@subject) %>
</p>

<p>
  <%= link_to "Tasks (#{@subject.tasks.count})", subject_tasks_path(@subject) %>
</p>

<p>
  <%= link_to "Journals (#{@subject.journals.count})", subject_journals_path(@subject) %>
</p>
