
<h1><%= @post.title %></h1>

<article>
  <%= @post.content %>
</article>

<p>
  <%= link_to "posts", subject_posts_path(@subject) %> of <%= link_to @subject.name, subject_path(@subject) %>
  |
  <%= link_to 'delete', post_path(@post), method: :delete %>
</p>
